.library {
    &__aside {
        background: $dark-bg;
        width: 30rem;
        height: calc(100vh - 8rem);
        position: fixed;
        left: 0;
        padding: 2rem;

        .aside__list {
            &__tag {
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 2rem;
                cursor: pointer;
            }

            &__tag:hover {
                color: $txt-main-color;
                transform: translateX(1rem);
            }
        }
    }

    &__books {
        margin-left: 30rem;
        padding: 2rem;
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
        column-gap: 2rem;
    }
}