.form {
    @include flex(center, center);
    height: calc(100vh - 8rem);

    form {
        width: 35rem;
        padding: 4rem 2rem;
        @include flex(center, start);
        flex-direction: column;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(4.5px);
        -webkit-backdrop-filter: blur(4.5px);
        border-radius: 2rem;

        .title {
            font-size: 2.4rem;
        }

        button {
            margin: 2rem 0;
        }

        .form-text {
            width: 100%;
            @include flex(center, start);

            a {
                font-size: 1.2rem;
                color: $main-color;
                font-weight: 500;
                margin: 0 0.5rem;
            }
        }
        
    }
}