.info-book {
    @include flex(start, start);
    padding: 4rem;
    &__image {
        @include flex(center, end);

        &__img {
            width: 20rem;
            height: 30rem;
            background: #fff;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }
    }

    &__content {
        margin-left: 2rem;
        .title {
            font-size: 2.4rem;
            font-weight: 700;
            color: $txt-main-color;
        }
        .btn-read {
            margin: 4rem 0 2rem;

            a {
                color: $dark-bg;
            }
        }
    }
}