@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    user-select: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    padding-top: 8rem;
    background: $main-bg;
    color: $txt-white;
}

button {
    background: $txt-main-color;
    color: $dark-bg;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 4rem;
    border-radius: 1rem;
}

button:active {
    opacity: 0.9;
}